<h1>Author: <%= @poem.author.name %></h1>
<h2>Title: <%= @poem.title %></h2>
<h3>publish date: <%= @poem.publish_date %></h3>
<h4><strong>tags:</strong><%= render "tag" %></h4>
<p>
  <%= @poem.content %>
</p>

<p>
  <strong>methapor:</strong>
  <%= @poem.methaphor %>
</p>
<%=button_to "Back", authors_path, :class => "button", :method => :get %>
