<h1>Author: <%= @poem.author.name %></h1>
<h2>Title: <%= @poem.title %></h2>
<h3>publish date: <%= @poem.publish_date %></h3>
<p>
  <%= @poem.content %>
</p>

<p>
  methapor:
  <%= @poem.methaphor %>
</p>
