<h2><%= @author.name %></h2>
<h4><strong>tags:</strong><%= render "tag" %></h4>

<h2>Biography:</h2>
<p><%= @author.biography %></p>
<div class="buttons">
  <%= button_to "Edit Author", edit_author_path, :class => "button", :method => :get %>
</div>
<div class="buttons">
  <%= button_to "Add Poem", new_author_poem_path( author_id: @author.id), :class => "button", :method => :get %>
</div>
<div class="buttons">
  <%= button_to "Add Short Story", new_author_short_story_path( author_id: @author.id), :class => "button", :method => :get %>
</div>
<div class="buttons">
  <%= button_to "Back", authors_path, :class => "button", :method => :get %>
</div>

<br>
<br>
<% poems = @author.poems.sort_by {|poem| poem.publish_date } %>
<%= render poems %>

<% short_stories = @author.short_stories.sort_by {|short_story| short_story.publish_date } %>
<%= render short_stories %>
