<h2><%= @author.name %></h2>
<h2>Biography:</h2>
<p><strong>tags:</strong><%= render "tag" %></p>

<p><%= @author.biography %></p>
<%= link_to "Add Poem", new_author_poem_path( author_id: @author.id ) %>
<%= link_to "Add Short Story", new_author_short_story_path( author_id: @author.id ) %>
<%= link_to "back", authors_path %>
<br>
<br>
<% poems = @author.poems.sort_by {|poem| poem.publish_date } %>
<%= render poems %>

<% short_stories = @author.short_stories.sort_by {|short_story| short_story.publish_date } %>
<%= render short_stories %>
