<h1>Author: <%= @short_story.author.name %></h1>
<h2>Title: <%= @short_story.title %></h2>
<h3>publish date: <%= @short_story.publish_date %></h3>
<p>
  <strong>tags:</strong>
  <%= render "tag" %>
</p>

<p>
  <strong>description:</strong>
  <%= @short_story.description %>
</p>

<p>
  <%= @short_story.content %>
</p>

<%=button_to "Back", authors_path, :class => "button", :method => :get %>
